<a href="https://colab.research.google.com/github/bouzayeniiheb/Sendy-Logestic-Competition/blob/master/Sendy_logistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import seaborn as sns
import scipy as sp
import matplotlib as plt
import pandas as pd
import math

In [0]:
train=pd.read_csv('/content/Train.csv')
test=pd.read_csv('/content/Test.csv')
riders=pd.read_csv('/content/Riders.csv')
vd=pd.read_csv('/content/VariableDefinitions.csv')
train1=pd.read_csv('/content/Train.csv')

In [105]:
test.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [106]:
train.tail()

             Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
21196   Order_No_8834  User_Id_2001  ...  Rider_Id_953                            9
21197  Order_No_22892  User_Id_1796  ...  Rider_Id_155                          770
21198   Order_No_2831  User_Id_2956  ...  Rider_Id_697                         2953
21199   Order_No_6174  User_Id_2524  ...  Rider_Id_347                         1380
21200   Order_No_9836   User_Id_718  ...  Rider_Id_177                         2128

[5 rows x 29 columns]

In [0]:
train['Placement - Time'] = pd.to_datetime(train['Placement - Time'],errors='coerce')
train['Confirmation - Time'] = pd.to_datetime(train['Confirmation - Time'],errors='coerce')
train['Arrival at Pickup - Time'] = pd.to_datetime(train['Arrival at Pickup - Time'],errors='coerce')
train['Pickup - Time'] = pd.to_datetime(train['Pickup - Time'],errors='coerce')

In [0]:
train['hour'] = train['Placement - Time'].dt.hour
train['month'] = train['Placement - Time'].dt.month
train['day'] = train['Placement - Time'].dt.day
train['minute'] = train['Placement - Time'].dt.minute
train['second'] = train['Placement - Time'].dt.second

train['hour1'] = train['Confirmation - Time'].dt.hour
train['month1'] = train['Confirmation - Time'].dt.month
train['day1'] = train['Confirmation - Time'].dt.day
train['minute1'] = train['Confirmation - Time'].dt.minute
train['second1'] = train['Confirmation - Time'].dt.second

train['hour2'] = train['Arrival at Pickup - Time'].dt.hour
train['month2'] = train['Arrival at Pickup - Time'].dt.month
train['day2'] = train['Arrival at Pickup - Time'].dt.day
train['minute2'] = train['Arrival at Pickup - Time'].dt.minute
train['second2'] = train['Arrival at Pickup - Time'].dt.second

train['hour3'] = train['Pickup - Time'].dt.hour
train['month3'] = train['Pickup - Time'].dt.month
train['day3'] = train['Pickup - Time'].dt.day
train['minute3'] = train['Pickup - Time'].dt.minute

train['second3'] = train['Pickup - Time'].dt.second

In [0]:
train['Arrival at Destination - Time'] = pd.to_datetime(train['Placement - Time'],errors='coerce')

In [0]:
train['hour1'] = train['Arrival at Destination - Time'].dt.hour

In [0]:
test['Placement - Time'] = pd.to_datetime(test['Placement - Time'],errors='coerce')
test['Confirmation - Time'] = pd.to_datetime(test['Confirmation - Time'],errors='coerce')
test['Arrival at Pickup - Time'] = pd.to_datetime(test['Arrival at Pickup - Time'],errors='coerce')
test['Pickup - Time'] = pd.to_datetime(test['Pickup - Time'],errors='coerce')

In [0]:
test['hour'] = test['Placement - Time'].dt.hour
test['month'] = test['Placement - Time'].dt.month
test['day'] = test['Placement - Time'].dt.day
test['minute'] = test['Placement - Time'].dt.minute
test['second'] = test['Placement - Time'].dt.second

test['hour1'] = test['Confirmation - Time'].dt.hour
test['month1'] = test['Confirmation - Time'].dt.month
test['day1'] = test['Confirmation - Time'].dt.day
test['minute1'] = test['Confirmation - Time'].dt.minute
test['second1'] = test['Confirmation - Time'].dt.second

test['hour2'] = test['Arrival at Pickup - Time'].dt.hour
test['month2'] = test['Arrival at Pickup - Time'].dt.month
test['day2'] = test['Arrival at Pickup - Time'].dt.day
test['minute2'] = test['Arrival at Pickup - Time'].dt.minute
test['second2'] = test['Arrival at Pickup - Time'].dt.second

test['hour3'] = test['Pickup - Time'].dt.hour
test['month3'] = test['Pickup - Time'].dt.month
test['day3'] = test['Pickup - Time'].dt.day
test['minute3'] = test['Pickup - Time'].dt.minute

test['second3'] = test['Pickup - Time'].dt.second

In [113]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
train=train.join(riders.set_index('Rider Id'), on='Rider Id')

In [0]:
test=test.join(riders.set_index('Rider Id'), on='Rider Id')

In [0]:
train['other']=train['hour']*3600+train['minute']*60+train['second']
train['other1']=train['hour1']*3600+train['minute1']*60+train['second1']
train['other2']=train['hour2']*3600+train['minute2']*60+train['second2']
train['other3']=train['hour3']*3600+train['minute3']*60+train['second3']
train['pourc']=train['No_of_Ratings']*100/train['No_of_Ratings']

In [0]:
test['other']=test['hour']*3600+test['minute']*60+test['second']
test['other1']=test['hour1']*3600+test['minute1']*60+test['second1']
test['other2']=test['hour2']*3600+test['minute2']*60+test['second2']
test['other3']=test['hour3']*3600+test['minute3']*60+test['second3']
test['pourc']=test['No_of_Ratings']*100/test['No_of_Ratings']

In [0]:
train['h1']=train['Confirmation - Day of Month']*train['Confirmation - Weekday (Mo = 1)']
train['h1']=train['Pickup - Day of Month']*train['Pickup - Weekday (Mo = 1)']
test['h1']=test['Confirmation - Day of Month']*test['Confirmation - Weekday (Mo = 1)']
test['h1']=test['Pickup - Day of Month']*test['Pickup - Weekday (Mo = 1)']

In [119]:
train['Precipitation in millimeters'].sum()

4364.0

In [120]:
4364/551

7.9201451905626135

In [0]:
test['Precipitation in millimeters'].isnull().sum()
avg=7.92

In [0]:
train['Precipitation in millimeters'].fillna(avg, inplace=True)

In [0]:
test['Precipitation in millimeters'].fillna(avg, inplace=True)

In [0]:
train.drop('Precipitation in millimeters',axis=1,inplace=True)

In [125]:
train['Temperature'].fillna(method='ffill')

0        20.4
1        26.4
2        26.4
3        19.2
4        15.4
         ...
21196    28.6
21197    26.0
21198    29.2
21199    15.0
21200    30.9
Name: Temperature, Length: 21201, dtype: float64

In [0]:
train.dropna(subset=['Temperature'],inplace=True)

In [127]:
train['Temperature']

0        20.4
1        26.4
3        19.2
4        15.4
5        27.2
         ...
21196    28.6
21197    26.0
21198    29.2
21199    15.0
21200    30.9
Name: Temperature, Length: 16835, dtype: float64

In [128]:
train.isnull().sum()

Order No                                      0
User Id                                       0
Vehicle Type                                  0
Platform Type                                 0
Personal or Business                          0
Placement - Day of Month                      0
Placement - Weekday (Mo = 1)                  0
Placement - Time                              0
Confirmation - Day of Month                   0
Confirmation - Weekday (Mo = 1)               0
Confirmation - Time                           0
Arrival at Pickup - Day of Month              0
Arrival at Pickup - Weekday (Mo = 1)          0
Arrival at Pickup - Time                      0
Pickup - Day of Month                         0
Pickup - Weekday (Mo = 1)                     0
Pickup - Time                                 0
Arrival at Destination - Day of Month         0
Arrival at Destination - Weekday (Mo = 1)     0
Arrival at Destination - Time                 0
Distance (KM)                                 0
Temperature                                   0
Pickup Lat                                    0
Pickup Long                                   0
Destination Lat                               0
Destination Long                              0
Rider Id                                      0
Time from Pickup to Arrival                   0
hour                                          0
month                                         0
day                                           0
minute                                        0
second                                        0
hour1                                         0
month1                                        0
day1                                          0
minute1                                       0
second1                                       0
hour2                                         0
month2                                        0
day2                                          0
minute2                                       0
second2                                       0
hour3                                         0
month3                                        0
day3                                          0
minute3                                       0
second3                                       0
No_Of_Orders                                  0
Age                                           0
Average_Rating                                0
No_of_Ratings                                 0
other                                         0
other1                                        0
other2                                        0
other3                                        0
pourc                                        25
h1                                            0
dtype: int64

In [129]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [130]:
vd.head()

                   Order No                Unique number identifying the order
0                   User Id  Unique number identifying the customer on a pl...
1              Vehicle Type  For this competition limited to bikes, however...
2             Platform Type  Platform used to place the order, there are 4 ...
3      Personal or Business                                      Customer type
4  Placement - Day of Month                  Placement - Day of Month i.e 1-31

In [0]:
#data = train.drop(columns=[''], axis=1)
target = train['Time from Pickup to Arrival']

In [132]:
train.head()
#train['Vehicle Type'].fillna(1)

         Order No       User Id Vehicle Type  ...  other3  pourc  h1
0   Order_No_4211   User_Id_633         Bike  ...   37650  100.0  45
1  Order_No_25375  User_Id_2285         Bike  ...   42249  100.0  60
3   Order_No_9336  User_Id_1402         Bike  ...   34986  100.0  75
4  Order_No_27883  User_Id_1737         Bike  ...   36323  100.0  13
5   Order_No_7408  User_Id_1342         Bike  ...   55830  100.0  70

[5 rows x 58 columns]

In [0]:
train.drop(columns=['Time from Pickup to Arrival','Order No','User Id','Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time','Arrival at Destination - Time','Rider Id'], axis=1,inplace=True)

In [0]:
mapping1 = {'Business':int(1), 'Personal':int(0)}
mapping2 = {'Bike':int(1)}
train=train.replace({'Personal or Business': mapping1, 'Vehicle Type': mapping2})

In [0]:
#train["Vehicle Type"] = pd.to_numeric(train["Vehicle Type"])
train['Vehicle Type'] = train['Vehicle Type'].apply(pd.to_numeric, errors='coerce')

In [136]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16835 entries, 0 to 21200
Data columns (total 49 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Vehicle Type                               16835 non-null  int64
 1   Platform Type                              16835 non-null  int64
 2   Personal or Business                       16835 non-null  int64
 3   Placement - Day of Month                   16835 non-null  int64
 4   Placement - Weekday (Mo = 1)               16835 non-null  int64
 5   Confirmation - Day of Month                16835 non-null  int64
 6   Confirmation - Weekday (Mo = 1)            16835 non-null  int64
 7   Arrival at Pickup - Day of Month           16835 non-null  int64
 8   Arrival at Pickup - Weekday (Mo = 1)       16835 non-null  int64
 9   Pickup - Day of Month                      16835 non-null  int64
 10  Pickup - Weekday (Mo = 1)                  16835 non-null  int64
 11  Arrival at Destination - Day of Month      16835 non-null  int64
 12  Arrival at Destination - Weekday (Mo = 1)  16835 non-null  int64
 13  Distance (KM)                              16835 non-null  int64
 14  Temperature                                16835 non-null  float64
 15  Pickup Lat                                 16835 non-null  float64
 16  Pickup Long                                16835 non-null  float64
 17  Destination Lat                            16835 non-null  float64
 18  Destination Long                           16835 non-null  float64
 19  hour                                       16835 non-null  int64
 20  month                                      16835 non-null  int64
 21  day                                        16835 non-null  int64
 22  minute                                     16835 non-null  int64
 23  second                                     16835 non-null  int64
 24  hour1                                      16835 non-null  int64
 25  month1                                     16835 non-null  int64
 26  day1                                       16835 non-null  int64
 27  minute1                                    16835 non-null  int64
 28  second1                                    16835 non-null  int64
 29  hour2                                      16835 non-null  int64
 30  month2                                     16835 non-null  int64
 31  day2                                       16835 non-null  int64
 32  minute2                                    16835 non-null  int64
 33  second2                                    16835 non-null  int64
 34  hour3                                      16835 non-null  int64
 35  month3                                     16835 non-null  int64
 36  day3                                       16835 non-null  int64
 37  minute3                                    16835 non-null  int64
 38  second3                                    16835 non-null  int64
 39  No_Of_Orders                               16835 non-null  int64
 40  Age                                        16835 non-null  int64
 41  Average_Rating                             16835 non-null  float64
 42  No_of_Ratings                              16835 non-null  int64
 43  other                                      16835 non-null  int64
 44  other1                                     16835 non-null  int64
 45  other2                                     16835 non-null  int64
 46  other3                                     16835 non-null  int64
 47  pourc                                      16810 non-null  float64
 48  h1                                         16835 non-null  int64
dtypes: float64(7), int64(42)
memory usage: 6.4 MB

In [0]:
test.drop(columns=['Order No','User Id','Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Pickup - Time','Rider Id'], axis=1,inplace=True)

In [0]:
mapping1 = {'Business':int(1), 'Personal':int(0)}
mapping2 = {'Bike':int(1)}
test=test.replace({'Personal or Business': mapping1, 'Vehicle Type': mapping2})

In [139]:
test.head()

   Vehicle Type  Platform Type  Personal or Business  ...  other3  pourc   h1
0             1              3                     1  ...   61607  100.0   81
1             1              3                     1  ...   48337  100.0   85
2             1              3                     1  ...   43074  100.0  108
3             1              3                     1  ...   51412  100.0   17
4             1              3                     1  ...   42964  100.0   22

[5 rows x 48 columns]

In [140]:
test.isnull().sum()

Vehicle Type                               0
Platform Type                              0
Personal or Business                       0
Placement - Day of Month                   0
Placement - Weekday (Mo = 1)               0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Pickup - Day of Month                      0
Pickup - Weekday (Mo = 1)                  0
Distance (KM)                              0
Temperature                             1437
Precipitation in millimeters               0
Pickup Lat                                 0
Pickup Long                                0
Destination Lat                            0
Destination Long                           0
hour                                       0
month                                      0
day                                        0
minute                                     0
second                                     0
hour1                                      0
month1                                     0
day1                                       0
minute1                                    0
second1                                    0
hour2                                      0
month2                                     0
day2                                       0
minute2                                    0
second2                                    0
hour3                                      0
month3                                     0
day3                                       0
minute3                                    0
second3                                    0
No_Of_Orders                               0
Age                                        0
Average_Rating                             0
No_of_Ratings                              0
other                                      0
other1                                     0
other2                                     0
other3                                     0
pourc                                      6
h1                                         0
dtype: int64

In [141]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16835 entries, 0 to 21200
Data columns (total 49 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Vehicle Type                               16835 non-null  int64
 1   Platform Type                              16835 non-null  int64
 2   Personal or Business                       16835 non-null  int64
 3   Placement - Day of Month                   16835 non-null  int64
 4   Placement - Weekday (Mo = 1)               16835 non-null  int64
 5   Confirmation - Day of Month                16835 non-null  int64
 6   Confirmation - Weekday (Mo = 1)            16835 non-null  int64
 7   Arrival at Pickup - Day of Month           16835 non-null  int64
 8   Arrival at Pickup - Weekday (Mo = 1)       16835 non-null  int64
 9   Pickup - Day of Month                      16835 non-null  int64
 10  Pickup - Weekday (Mo = 1)                  16835 non-null  int64
 11  Arrival at Destination - Day of Month      16835 non-null  int64
 12  Arrival at Destination - Weekday (Mo = 1)  16835 non-null  int64
 13  Distance (KM)                              16835 non-null  int64
 14  Temperature                                16835 non-null  float64
 15  Pickup Lat                                 16835 non-null  float64
 16  Pickup Long                                16835 non-null  float64
 17  Destination Lat                            16835 non-null  float64
 18  Destination Long                           16835 non-null  float64
 19  hour                                       16835 non-null  int64
 20  month                                      16835 non-null  int64
 21  day                                        16835 non-null  int64
 22  minute                                     16835 non-null  int64
 23  second                                     16835 non-null  int64
 24  hour1                                      16835 non-null  int64
 25  month1                                     16835 non-null  int64
 26  day1                                       16835 non-null  int64
 27  minute1                                    16835 non-null  int64
 28  second1                                    16835 non-null  int64
 29  hour2                                      16835 non-null  int64
 30  month2                                     16835 non-null  int64
 31  day2                                       16835 non-null  int64
 32  minute2                                    16835 non-null  int64
 33  second2                                    16835 non-null  int64
 34  hour3                                      16835 non-null  int64
 35  month3                                     16835 non-null  int64
 36  day3                                       16835 non-null  int64
 37  minute3                                    16835 non-null  int64
 38  second3                                    16835 non-null  int64
 39  No_Of_Orders                               16835 non-null  int64
 40  Age                                        16835 non-null  int64
 41  Average_Rating                             16835 non-null  float64
 42  No_of_Ratings                              16835 non-null  int64
 43  other                                      16835 non-null  int64
 44  other1                                     16835 non-null  int64
 45  other2                                     16835 non-null  int64
 46  other3                                     16835 non-null  int64
 47  pourc                                      16810 non-null  float64
 48  h1                                         16835 non-null  int64
dtypes: float64(7), int64(42)
memory usage: 6.4 MB

In [0]:
train.drop('Arrival at Destination - Day of Month',axis=1,inplace=True)

In [0]:
train.drop('Arrival at Destination - Weekday (Mo = 1)',axis=1,inplace=True)

In [0]:
test.drop('Precipitation in millimeters',axis=1,inplace=True)

In [0]:
#test.drop('Age',axis=1,inplace=True)
#train.drop('Age',axis=1,inplace=True)

In [146]:
test['Temperature'].mean()

23.246119694548046

In [0]:
test['Temperature'].fillna(20, inplace=True)

In [148]:
import xgboost as xgb
clf = xgb.XGBRegressor(base_score=0.8,max_depth=6,booster='gbtree',eta=0.5,gamma=0.5,n_estimators = 150,eval_metric='auc')
clf.fit(train,target)

[17:23:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.8, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, eta=0.5, eval_metric='auc',
             gamma=0.5, importance_type='gain', learning_rate=0.1,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=None,
             n_estimators=150, n_jobs=1, nthread=None, objective='reg:linear',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [149]:
p=clf.predict(test)
p

array([1667.9294, 1370.1846, 1279.9899, ..., 1631.3273, 2452.8933,
       1647.8604], dtype=float32)

In [0]:
submission = pd.DataFrame(index=test.index,columns=['Order No','Time from Pickup to Arrival'])
submission['Order No'] = test['Order No']
submission['Time from Pickup to Arrival'] =moyenne
## create submit_file
submission.to_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/solution.csv',index=False)

In [0]:
#h=pd.read_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/yourpath30.csv')
h1=pd.read_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/yourpath49.csv')
h2=pd.read_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/yourpath52.csv')
#h3=pd.read_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/yourpath47.csv')
#h4=pd.read_csv('C:/Users/21699/Desktop/ML/Competition_ID/Sendy logistics challenge/yourpath48.csv')

In [0]:
somme=5*h1['Time from Pickup to Arrival']+10*h2['Time from Pickup to Arrival']

In [0]:
moyenne=somme/15